# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.idea
*vendor
*.log
*.xdb

cover.out
coverage.txt

index.html
etc/config.toml
etc/application.toml
etc/config.env
etc/unit_test.env
etc/ssl
mcenter
mcenter-api